@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

:root {
    --aside-bg-color: #1892d5;
    --aside-font-color: #fff;
    --header-bg-color: #fff;
    --buttons-bg-color: #1892d5;
    --main-bg-color: #e2e9f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / repeat(5, 1fr);
}

h2 {
    font-size: 30px;
}

aside {
    background-color: var(--aside-bg-color);
    grid-row: 1 / 3;
    color: var(--aside-font-color);
    display: grid;
    gap: 50px;
    align-content: flex-start;
    padding: 20px;
}

.sidebar-header, .section {
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    align-items: center;
    margin: 0px 40px 20px 0px;
}

.section a {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: var(--aside-font-color);
}

.sidebar-header svg {
    width: 50px;
}

aside svg {
    fill: var(--aside-font-color);
    width: 25px;
}

header {
    background-color: var(--header-bg-color);
    font-weight: bold;
    grid-column: 2 / 6;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

header svg {
    width: 30px;
}

.search-container {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

.search-container input {
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: var(--main-bg-color);
    padding: 0 10px;
}

.search-container input:focus {
    outline: none;
    border: 2px solid var(--aside-bg-color);
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile-container img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.greatings-container {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

.greatings-container img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.greatings-container span {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.greatings-container p {
    font-size: 20px;
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.buttons-container button {
    width: 100px;
    height: 35px;
    background-color: var(--buttons-bg-color);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

main {
    background-color: var(--main-bg-color);
    grid-column: 2 / 6;
}